<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>感谢您使用 音恋语音处cp</title>
</head>
<style>
    .main{
        width: 94%;
        margin:0 auto;
        margin-top: 15%;
        font-size:0.8125rem ;
        line-height: 1.7;
    }
    p,strong{
        text-indent:3.125rem;
    }
    strong{
        text-decoration: underline ;
    }
    h1{
        text-align: center;
    }
</style>
<body>
<p>四川融企科技有限公司（以下简称“我们”）是音恋语音处cp平台（以下简称“音恋语音处cp”）的开发运营者，我们深知个人信息对您的重要性，并会尽全力保护您个人信息的安全。本隐私政策将向您阐述我们如何收集、使用您的个人信息并帮助您了解您的权利，请在使用我们的服务前，仔细阅读并了解本<a href="https://www.fqparty.com/pact.html">《隐私协议》</a>。请尤其注意本隐私协议中加粗、划线的内容并确定了解我们对您个人信息的处理规则。如您有任何疑问，可联系我们的客服进行咨询；如您不同意协议中的任何条款，您应立即停止访问和使用我们的产品。</p>

</body>
</html>
