<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青少年使用须知</title>

    <style>
        p, strong {
            text-indent: 3.125rem;
        }

        strong {
            text-decoration: underline;
        }

        h1 {
            text-align: center;
        }
    </style>
<body>
<h1>青少年使用须知</h1>
<h4>
    欢迎你选择由【四川圣霆网络科技有限公司】（以下简称“我们”或“平台”）开发、运营、提供的相关产品和服务！我们非常重视未成年人的保护。为保护未成年人个人信息的安全，我们开发了“青少年模式”。本《青少年使用须知》旨在向法定监护人或未成年人的父母（以下简称“监护人”或“家长”）和未成年人（以下又称“被监护人”）说明该模式的运行方式。</h4>
<br>
<h3>1.青少年模式的保护措施</h3>
<h4>1.1 未满18周岁的青少年</h4>
<h4>如果你的被监护人是未满18周岁的儿童/青少年，他/她使用音恋语音的普通模式，需要经过你的明确同意；如果你不同意他/她使用音恋语音的普通模式，请你为他/她设置“青少年模式”。</h4>
<h4>1.2 协助监护人更好地守护儿童和青少年</h4>
<h4>我们针对未成年人使用音恋语音，将会在青少年模式下限制其部分功能的使用，包含但不限于聊天室、下单等功能，同时也无法进行豆的充值。</h4>
<h4>为帮助监护人管理未成年人的应用使用时间，在该模式下，每日22时至次日早6时期间无法使用音恋语音。</h4>
<h4>进入该模式后，系统将自动开启时间锁，时间锁默认设置为40分钟。单日使用时长超过触发时间，需要输入密码才可以继续使用。密码由你设置并掌握，确保你能有效引导未成年人健康使用音恋语音</h4><br>
<h3>2.退出儿童和青少年模式</h3>
<h4>如果你为你的被监护人解除或退出“青少年模式”，你的被监护人将可以使用音恋语音的全部功能，收集的信息类型与使用目的也将遵循《隐私协议》执行。</h4>
<h4>如果你要求删除我们收集的不满14周岁的儿童个人信息，或进行投诉，请通过2145402948@qq.com联系我们，我们在核验你的身份后，会根据你的请求和法律法规的规定进行处理。</h4>
</body>
</html>





