<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户隐私协议</title>
</head>
<style>
    .main{
        width: 94%;
        margin:0 auto;
        margin-top: 15%;
        font-size:0.8125rem ;
        line-height: 1.7;
    }
    h4,p,strong{
        text-indent:16px;

    }
    strong{
        text-decoration: underline ;
    }
    h1{
        text-align: center;
    }
    body{
        width: 85%;
        margin: 0 auto;
    }
</style>
<body>
<h1>用户隐私协议</h1>
<h4>提示：请您认真阅读并充分理解本《服务协议》（下称《协议》）全部内容，特别是免除或者限制恋音责任的免责条款以及对用户的权利限制条款。</h4><pr>
    <h4>请您在认真阅读并充分理解《协议》内容之后决定是否接受本《协议》。如您是未成年人（未满18周岁），须在法定监护人陪同下阅读并决定是否接受本《协议》。您接受本《协议》全部内容之后，即可注册、登录或使用本《协议》所涉相关服务。您的注册、登录、使用等行为视为对本《协议》全部内容的接受。</h4><pr>
    <h4>本《协议》是您（下称“用户”）与恋音App（简称恋音）之间关于注册、登录“恋音”直播平台以及使用“恋音”直播平台服务所订立的协议，本《协议》约定了恋音与用户之间关于“恋音”服务方面的权利义务。“用户”是指注册、登录、使用、浏览、获取本《协议》项下服务的个人或组织。</h4><pr>
    <h4>本《协议》内容由恋音随时更新，用户可在本网站查阅最新版协议条款。更新后的协议条款一旦公布即代替原来的协议条款。协议条款更新后，如您不同意接受，您不应继续使用恋音提供的服务。</h4><pr>
    <h2>一、使用规则</h2><pr>
    <h4>1、用户充分理解并同意：恋音仅为用户提供信息存储、分享平台服务，用户必须为自己注册帐号下发生一切行为负责，包括因您所传送至恋音中的任何内容、信息等所导致的不利后果，该等不利后果包括但不限于赔偿、罚款、司法/仲裁程序费用、律师费、合理支出、给恋音造成的损害等。用户应对恋音上其他注册用户（包括主播）发布的内容自行加以判断，并承担因使用该内容而给自己、他人及社会造成的法律责任，包括但不限于因对内容的准确性、真实性、完整性或实用性等的依赖而产生的风险。</h4><pr>
    <h4>2、用户在使用恋音服务中发布的任何内容、信息等并不反映或代表恋音的观点、立场或政策，恋音对此不承担任何责任。</h4><pr>
    <h4>3、用户充分理解并同意：恋音是一个基于用户关系网的点对点信息服务平台，用户须对在恋音上的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人或利用他人的名义传播任何信息，不得恶意使用注册帐号导致其他用户误认。否则，恋音有权立即停止提供服务，注销用户的恋音帐号，用户应自行承担由此而产生的一切法律责任。</h4><pr>
    <h4>4、恋音对用户上传的所有信息的真实性、合法性、无害性、有效性等不负任何单独或连带之保证责任，用户因其所传播的信息而引发的相关法律责任由用户自行承担。</h4><pr>
    <h4>5、用户充分理解并同意：因业务发展需要、突发情势等，恋音可能会临时变更，暂停、限制或者终止恋音部分或全部服务，恋音将努力但不保证能做到事先通知。用户知悉并愿意承担该类风险。</h4><pr>
    <h4>6、用户充分理解并同意：恋音提供的服务中可能包括广告。用户同意在使用服务过程中显示恋音和第三方供应商、合作伙伴提供的广告。同时，恋音有权在语音直播间内添加网站logo（或名称）和时间的水印标志。恋音将尽力但不保证不影响您的直播聊天体验。</h4><pr>
    <h4>7、用户不得利恋音或恋音App服务制作、上载、传播包含如下任何内容的信息：</h4><pr>
    <h4>(1)反对宪法所确定的基本原则的；</h4><pr>
    <h4>(2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</h4><pr>
    <h4>(3)损害国家荣誉和利益的；</h4><pr>
    <h4>(4)煽动民族仇恨、民族歧视，破坏民族团结的；</h4><pr>
    <h4>(5)破坏国家宗教政策，宣扬邪教和封建迷信的；</h4><pr>
    <h4>(6)散布谣言，扰乱社会秩序，破坏社会稳定的；</h4><pr>
    <h4>(7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</h4><pr>
    <h4>(8)侮辱或者诽谤他人，侵害他人合法权益的；</h4><pr>
    <h4>(9)含有法律、行政法规禁止的其他内容的信息。</h4><pr>
    <h4>8、根据合理判断，恋音可以对违反法律法规、本《协议》约定，侵犯、妨害、威胁他人权利的内容，或者假冒他人名义发布的内容，依法采取停止传输、下线等措施，并有权依合理判断对违反本条款的用户采取适当的法律行动，包括但不限于：从恋音直播平台中保全具有违法性、侵权性、不当性等内容、限制或禁止用户使用恋音全部或部分服务、注销用户帐户以及依据法律法规保存有关信息并向有关部门报告等。</h4><pr>
    <h4>9、用户权利及义务：</h4><pr>
    <h4>(1)恋音帐号的所有权归恋音所有，用户完成申请注册手续后，获得恋音帐号的使用权，该使用权仅属于初始申请注册人，禁止用户赠与、借用、租用、转让或售卖恋音帐号。如果使用者并非帐号初始申请注册人，恋音有权在未经通知的情况下冻结、回收该帐号而无需向该帐号使用人承担法律责任，由此导致的包括并不限于用户通讯中断、用户资料和虚拟道具等清空等损失由用户自行承担。若帐号的归属出现争议的，XXX公司在收到相关方的投诉后，有权暂时冻结该争议帐号；争议各方在举证期（7个工作日）内提供证据证明帐号归属，XXX公司依据各方提供的证据判断归属后，解冻争议帐号。</h4><pr>
    <h4>(2)用户可以更改、删除在恋音帐号或App上的个人资料、注册信息及传送内容等（但用户不可自行注销恋音帐号）。用户在更改、删除有关信息的同时也可能会造成储存在系统中的文字、图片、视频等丢失，恋音对用户自主操作导致内容丢失不承担责任。请注意，手机号一经与恋音帐号绑定，无法解除绑定。</h4><pr>
    <h4>(3)用户有责任妥善保管注册帐号信息及帐号密码的安全，用户需要对注册帐号下的行为承担法律责任。由于帐号、密码等信息外借、泄露或者被他人盗用而引起的法律责任，由注册用户自行承担。用户同意在任何情况下不使用其他用户的帐号。</h4><pr>
    <h4>(4)用户应遵守本协议的各项条款，正确、适当地使用本服务，不得扰乱平台秩序，包括但不限于扰乱平台金融秩序（如出售钻石、恋音豆等）。如用户违反本协议或其他平台规则的任何条款，恋音有权依据协议终止/暂停对违约用户恋音帐号提供全部或部分服务。若帐号任何功能被终止/中止的，无法参加任何官方活动。若账号被永久封禁的，账号内的钻石和恋音豆将被全部清空，不予取现。 需要特别注意的是，涉嫌使用不合理手段充值（包括但不限于非法使用信用卡套现）的帐号，恋音依其合理判断将暂时或永久封停该帐号。同时，恋音保留在任何时候收回恋音帐号、用户名的权利。</h4><pr>
    <h4>(4)用户应遵守本协议的各项条款，正确、适当地使用本服务，不得扰乱平台秩序，包括但不限于扰乱平台金融秩序（如出售钻石、恋音豆等）。如用户违反本协议或其他平台规则的任何条款，恋音有权依据协议终止/暂停对违约用户恋音帐号提供全部或部分服务。若帐号任何功能被终止/中止的，无法参加任何官方活动。若账号被永久封禁的，账号内的钻石和恋音豆将被全部清空，不予取现。 需要特别注意的是，涉嫌使用不合理手段充值（包括但不限于非法使用信用卡套现）的帐号，恋音依其合理判断将暂时或永久封停该帐号。同时，恋音保留在任何时候收回恋音帐号、用户名的权利。</h4><pr></h4><pr>
    <h4>(5)用户保证注册恋音帐号时提供的信息真实、完整。因信息非法、不真实、不准确等所产生的法律责任由用户承担。用户注册信息发生变更的，应及时更新注册资料，满足及时、详尽、真实、准确的要求。</h4><pr>
    <h4>(6)用户可以在使用恋音服务过程中购买、兑换钻石和恋音豆等虚拟道具增值服务。除法律规定的情形外，用户购买虚拟道具之后，恋音不提供退、换或兑现成人民币或其他任何货币的服务。</h4><pr>
    <h4>(7)用户注册恋音帐号后，连续3个月不登录使用的，恋音有权注销该帐号，以免造成资源浪费，由此带来损失均由用户自行承担。</h4><pr>
    <h4>(8)用户同意授予恋音无偿使用通过恋音App发布的或用户使用恋音服务过程中形成的信息、内容等，恋音可以通过包括改编、汇编、复制、发行、网络传播在内的一切方式进行使用。如果用户不同意恋音使用相关内容，应事先通过书面方式告知恋音。</h4><pr>
    <h4>(9)用户在使用恋音提供的服务过程中，若发现涉政、涉枪、涉毒、涉暴、赌博、涉黄的内容，可以向恋音工作人员举报、投诉。恋音在收到举报、投诉后，将派专员及时处理。</h4><pr>
    <h4>(10)您不得利用恋音进行任何形式的洗钱活动。恋音将严密监控此类行为，并有权对多个定向账户中异常的、数额较大的虚拟资产流转进行调查，并有权配合主管机关的调查提交您的身份资料、有关账户的交易记录等信息。</h4><pr>
    <h4></h4><pr>
    <h4></h4><pr>
    <h2>二、隐私保护</h2><pr>
    <h4>用户知悉并同意：个人隐私信息是指能够对用户进行个人辨识或涉及个人通信的信息，包括用户真实姓名、身份证号、手机号码、银行账户、IP地址等。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等一些明确且客观反映在恋音服务器端的基本记录信息和其他一切个人隐私信息范围外的普通信息，以及用户同意公开的上述隐私信息。</h4><pr>
    <h4>恋音尊重用户个人隐私信息的私有性，恋音将会采取合理的措施保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求或用户同意等原因外，恋音未经用户同意不向除合作单位以外的第三方公开、透露用户个人隐私信息。</h4><pr>
    <h4>用户在注册时选择同意，或用户与恋音及合作单位之间就用户个人隐私信息公开或使用另有约定的除外，用户应自行承担因此可能产生的任何风险，恋音对此不承担责任。</h4><br>
    <h4>为了运营和改善恋音的技术和服务，便于恋音向用户提供更好的用户体验和提高恋音的服务质量，恋音将可能会自行收集使用或向第三方提供用户的非个人隐私信息，具体请仔细阅读《恋音用户隐私政策》。</h4><pr>
    <h2>三、恋音商业标识信息</h2><pr>
    <h4>恋音服务中所涉及的恋音图形、文字或其组成，以及其他恋音标志及产品、服务名称，均为恋音之商业标识（以下简称“恋音标识”）。未经恋音事先书面同意，用户不得将恋音标识以任何方式展示、使用或申请注册商标、进行域名注册等，也不得实施向他人明示或暗示有权展示、使用、或其他有权处理恋音标识的行为。用户由于非法使用恋音标识给恋音或他人造成损失的，由用户承担相关法律责任。</h4><pr>
    <h2>四、知识产权</h2><pr>
    <h4>1、平台的服务包括恋音运营的网站、网页应用、应用软件以及内含的文字、图片、视频、音频等元素，恋音对其服务标志、标识以及上述任何元素享有全部知识产权。</h4><pr>
    <h4>2、用户在应用上提供语音直播服务期间产生的任何成果（包括但不限于直播音频，以下统称“主播成果”）的知识产权由用户享有。您同意许可恋音在全世界范围内永久性地、不可撤销地、独家地使用和可再许可及（或）转授权任意第三方使用主播成果，包括但不限于复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作权人享有的其他著作财产权利，恋音无须对此额外向用户支付任何费用。</h4><pr>
    <h4>3、任何第三方未经恋音同意，不得将用户在平台上的主播成果、所发表言论等进行复制、修改、编辑、转让、使用、通过信息网络传播或作其他用途，包括但不限于通过抓取录播音频／视频、编辑视频/音频/文字和其他形式的内容等方式。否则，恋音有权就任何主体侵权而以恋音自己的名义单独或委托第三方机构提起诉讼或开展其他法律行动，并获得全部赔偿。</h4><pr>
    <h2>五、法律责任及免责</h2><pr>
    <h4>1、用户违反本《协议》或相关服务条款的约定，导致第三方向恋音及其合作公司、关联公司提出索赔等要求的，用户同意承担全部法律责任，包括但不限于赔偿金、罚金、和解费、诉讼仲裁费、合理的律师费支出等，并同意赔偿因此给恋音造成的损害。</h4><pr>
    <h4>2、用户因第三方如电信部门的通讯线路故障、技术问题、网络、电脑故障、系统不稳定性及其他各种不可抗力原因而遭受的一切损失，恋音及其合作单位不承担责任。</h4><pr>
    <h4>3、因技术故障等不可抗事件影响到服务的正常运行的，恋音及其合作单位承诺在第一时间内与相关单位配合，及时处理进行修复，但用户因此而遭受的一切损失，恋音及其合作单位不承担责任。</h4><pr>
    <h4>4、用户理解：本服务同其他互联网服务一样，用户在使用服务过程中会受到网络服务质量、社会环境、用户操作错误等诸多因素的影响，可能会受到各种问题的侵扰，比如他人利用用户的资料，进行现实生活中的骚扰。用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的计算机信息和数据的安全，继而影响本服务的正常使用等等。用户应加强对信息安全及使用者资料的保护意识，以免遭受损失和骚扰，因使用恋音服务的风险由用户自行承担。</h4><pr>
    <h4>5、用户理解：本服务涉及Internet服务，可能会受到各个环节不稳定因素的影响，本服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。因前述情形导致用户不能发送、接受、阅读信息、或接发错信息，恋音不承担任何责任。</h4><pr>
    <h4>6、用户理解：使用本服务过程中存在可能面对来自他人的包括但不限于威胁性的、诽谤性的、令人反感的或其他非法的内容或行为和/或侵犯他人权利（包括但不限于知识产权）的匿名或冒名的信息的风险，用户须承担以上风险。恋音和其合作公司对语音直播平台服务不作任何明确或暗示的担保，包括但不限于有关信息真实性、适商性、适于某一特定用途、所有权和非侵权性的内容，对因此导致任何因用户不正当或非法使用恋音平台服务产生的直接、间接、偶然、特殊及后续等侵犯第三人之合法权利的法律责任，恋音不承担任何责任。</h4><pr>
    <h4>7、恋音提供的信息内容包括但不限于：文字、软件、声音、相片、录像、图表，在广告中的全部内容，以及恋音为用户提供的商业信息。上述所有信息均受著作权法、商标法和其它知识产权法以及物权法、其他相关中国法律的保护。用户只能在恋音和合作方明确授权的情况下才能使用这些内容，不得擅自实施包括但不限于复制、修改、编纂上述内容、或创造与该内容有关的衍生产品的行为。</h4><pr>
    <h4>8、在任何情况下，恋音对任何由于用户使用恋音平台而导致的间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括但不限于因用户使用恋音平台服务而遭受的各项损失均不承担责任（即使恋音已被告知该等损失发生的可能性）。尽管本协议中可能含有特殊约定，恋音对用户承担的全部责任，无论因何原因或何种行为导致，均不超过用户在使用恋音服务期内支付给恋音的费用(如有)。</h4><pr>
    <h4>9、本平台所有玩法仅供娱乐,任何人不得利用平台上的任何玩法开展任何形式的违法违规活动。</h4><pr>
    <h4>10、在平台上的玩法所获得的奖励、礼物、道具等仅可在平台内进行正常的娱乐性消耗,无法兑换成现金或其他有价值的财物。如有任何人就该道具违规开展线下交易行为,平台有权终止向违规账号提供服务,对违规账户中的虚拟产品进行清空,并对账号进行永久封停,因此造成的损失,由账号所属人自行承担。</h4><pr>
    <h4>11、如平台认为任何人在活动过程中的任何行为超出合理范畴或出现数据异常的情况,平台将有权进行调查,并视情况采取相应的整改措施,包括不限于警告、禁言、强制下线、限制登录、封停账号、清空奖励、追究法律责任等。</h4><pr>
    <h4>12、消费中请注意保管好账号、密码、短信验证是码等登录操作凭证,谨防上当受骗。</h4><pr>
    <h2>六、其他条款</h2><pr>
    <h4>1、特别提示：请用户注册、使用本《协议》服务之前，认真阅读本《协议》中限制、免除恋音义务责任和加重用户义务责任的条款，并请自主考虑风险。如果您是未成年人（未满18周岁），应在法定监护人的陪同下阅读本《协议》，并在充分理解本《协议》各项条款的情况下注册使用。同时，未成年人的任何充值行为将被恋音视为已取得法定监护人的同意。</h4><pr>
    <h4>2、本《协议》条款部分或全部无效，不影响其它条款的效力。</h4><pr>
    <h4>3、本《协议》解释、效力及纠纷的解决，适用中华人民共和国法律。</h4><pr>
    <h4>4、用户和恋音之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</h4><pr>
    <h4>5、恋音保留本《协议》解释和修改权利。
        <h2>恋音用户隐私政策</h2><pr>
            <h2>引言</h2><pr>
            <h2>恋音重视您的隐私。</h2><pr>
            <h4>您在使用恋音服务（包括恋音网站https://www.fqparty.com/和恋音移动应用）时，恋音可能会收集和使用您的信息。</h4>
            <h4>恋音希望通过本《隐私政策》向您说明在您使用恋音的服务时，恋音如何收集、使用、储存和分享这些信息，以及恋音为您提供的访问、更新、控制和保护这些信息的方式。</h4><br>
            <h4>本《隐私政策》与您所使用的恋音服务息息相关，恋音也希望您能够仔细阅读，并在需要时，按照本《隐私政策》的指引，作出您认为适当的选择。本《隐私政策》之中涉及的相关技术词汇，恋音尽量以简明扼要的表述向您解释，并提供了进一步说明的链接，以便您的理解。</h4><pr>
            <h4>您使用或继续使用恋音的服务，视为您同意恋音按照本《隐私政策》收集、使用、储存和分享您的信息。</h4><br>
            <h4>恋音收集的信息</h4><br>
            <h4>恋音提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为恋音的用户、享受恋音提供的某些服务，或者即便恋音可以继续向您提供一些服务，也无法达到该服务拟达到的效果。</h4><br>
            <h4>您提供的信息</h4><br>
            <h4>您在注册恋音的账户或使用恋音的服务时，向恋音提供的相关个人信息，例如电话号码、电子邮件等；您通过恋音的服务向其他方提供的共享信息，以及您使用恋音的服务时所储存的信息。</h4><br>
            <h4>其他方分享的您的信息</h4><br>
            <h4>其他方使用我们的服务时所提供有关您的共享信息。</h4><br>
            <h4>恋音获取的您的信息</h4><br>
            <h4>您使用恋音服务时恋音可能收集如下信息：</h4><br>
            <h4>日志信息指您使用恋音服务时，系统可能会通过cookies、wep peacon或其他方式自动采集的技术信息，包括：</h4><br>
            <h4>设备或软件信息，例如您的移动设备、网页浏览器或您用于接入恋音的服务的其他程序所提供的配置信息、您的IP地址和您的移动设备所用的版本和设备识别码；</h4><br>
            <h4>您在使用恋音服务时搜索和浏览的信息，例如您使用的网页搜索词语、访问的社交媒体页面url地址，以及您在使用恋音服务时浏览或要求提供的其他信息和内容详情；</h4><br>
            <h4>有关您曾使用的移动应用（APP）和其他软件的信息，以及您曾经使用该等移动应用和软件的信息；</h4><br>
            <h4>您通过恋音的服务进行通讯的信息，例如曾通讯的账号，以及通讯时间、数据和时长；</h4><br>
            <h4>您通过恋音的服务分享的内容所包含的信息（元数据），例如录制语音或上传的语音、视频信息的日期、时间或地点等。</h4><br>
            <h4>位置信息指您开启设备定位功能并使用恋音基于位置提供的相关服务时，恋音收集的有关您位置的信息，包括：</h4><br>
            <h4>您通过具有定位功能的移动设备使用恋音的服务时，恋音通过GPS或WiFi等方式收集的您的地理位置信息；</h4><br>
            <h4>您或其他用户提供的包含您所处地理位置的实时信息，例如您提供的账户信息中包含的您所在地区信息，您或其他人上传的显示您当前或曾经所处地理位置的共享信息，例如您或其他人共享的照片包含的地理标记信息；</h4><br>
            <h4>您可以通过关闭定位功能随时停止恋音对您的地理位置信息的收集。</h4><br>
            <h4>恋音如何使用您的信息</h4><br>
            <h4>恋音可能将在向您提供服务的过程之中所收集的信息用作下列用途：</h4><br>
            <h4>向您提供服务；</h4><br>
            <h4>在恋音提供服务时，用于身份验证、客户服务、安全防范、诈骗监测、存档和备份用途，确保恋音向您提供的产品和服务的安全性；</h4><br>
            <h4>帮助恋音设计新服务，改善恋音现有服务；</h4><br>
            <h4>使恋音更加了解您如何接入和使用恋音的服务，从而针对性地回应您的个性化需求，例如语言设定、位置设定、个性化的帮助服务和指示，或对您和其他使用恋音服务的用户作出其他方面的回应；</h4><br>
            <h4>向您提供与您更加相关的广告以替代普遍投放的广告；</h4><br>
            <h4>评估恋音服务中的广告和其他促销及推广活动的效果，并加以改善；</h4><br>
            <h4>软件认证或管理软件升级；</h4><br>
            <h4>让您参与有关恋音产品和服务的调查。</h4><br>
            <h4>为了让恋音的用户有更好的体验、改善恋音的服务或您同意的其他用途，在符合相关法律法规的前提下，恋音可能将通过恋音的某一项服务所收集的个人信息，以汇集信息或者个性化的方式，用于恋音的其他服务。例如，在您使用恋音的一项服务时所收集的您的个人信息，可能在另一服务中用于向您提供特定内容或向您展示与您相关的、而非普遍推送的信息。如恋音在相关服务之中提供了相应选项，您也可以主动要求恋音将您在该服务所提供和储存的个人信息用于恋音的其他服务。</h4><pr>
            <h4>针对某些特定服务的特定隐私政策将更具体地说明恋音在该等服务中如何使用您的信息。</h4><br>
            <h4>如何访问和控制您的信息</h4><br>
            <h4>恋音将尽量采取适当的技术手段，保证您可以访问、更新和更正您的注册信息或使用恋音的服务时提供的其他个人信息。在访问、更新、更正和删除您的个人信息时，恋音可能会要求您进行身份验证，以保障您的账户安全。</h4><br>
            <h4>恋音如何分享您的信息</h4><br>
            <h4>除以下情形外，未经您同意，恋音、恋音关联方或合作方不会与任何第三方分享您的个人信息：</h4><br>
            <h4>恋音以及恋音的关联公司可能将您的个人信息与恋音的关联公司、合作方及第三方服务供应商、承包商及代理（例如代表恋音发出电子邮件或推送通知的通讯服务提供商、以及为恋音提供位置数据的地图服务供应商）分享（他们可能并非位于您所在法域），用作下列用途：</h4><br>
            <h4>向您提供恋音的服务；</h4><br>
            <h4>实现“恋音如何使用您的信息”部分所述目的；</h4><br>
            <h4>履行恋音在本《隐私政策》中的义务和形式恋音的权利；</h4><br>
            <h4>理解、维护和改善恋音的服务。
                <h4>如恋音或恋音的关联公司与任何上述第三方分享您的个人信息，恋音将努力确保该等第三方在使用您的个人信息时遵守本《隐私政策》及恋音要求其遵守的其他适当的保密和安全措施。</h4><br>
                <h4>随着恋音业务的持续发展，恋音以及恋音的关联公司有可能进行合并、收购、资产转让或类似的交易，而您的个人信息有可能作为此类交易的一部分而被转移。恋音将在您的个人信息转移前通知您。</h4><br>
                <h4>恋音或恋音的关联公司还可能为以下需要保留、保存或披露您的个人信息：</h4><br>
                <h4>遵守适用的法律法规；</h4><br>
                <h4>遵守法院命令或其他法律程序的规定；</h4><br>
                <h4>遵守相关政府机关的要求；</h4><br>
                <h4>恋音为遵守适用的法律法规、维护社会公共利益、或保护恋音或恋音的集团公司、恋音的客户、其他用户或雇员的人身和财产安全或合法权益所合理必需的。</h4><br>
                <h4>恋音如何保留、储存和保护您的信息</h4><br>
                <h4>恋音仅在本《隐私政策》所述目的所必需期间和法律法规要求的时限内保留您的个人信息。恋音使用各种安全技术和程序，以防信息的丢失、不当使用、未经授权阅览或披露。例如，在某些服务中，恋音将利用加密技术（例如SSL）来保护您向恋音提供的个人信息。但请您谅解，由于技术的限制以及风险防范的局限，即便恋音已经尽量加强安全措施，也无法始终保证信息百分之百的安全。您需要了解，您接入恋音的服务所用的系统和通讯网络，有可能因恋音可控范围外的情况而发生问题。</h4><pr>
                    <h4>有关共享信息的提示</h4><br>
                    <h4>恋音的多项服务可让您不仅与您的社交网络、也与使用该服务的所有用户公开分享您的相关信息，例如，您在恋音的服务中所上传或发布的信息（包括您公开的个人信息、您建立的名单）、您对其他人上传或发布的信息作出的回应，以及包括与这些信息有关的位置数据和日志信息。</h4><br>
                    <h4>使用恋音服务的其他用户也有可能分享与您有关的信息（包括位置数据和日志信息）。特别是恋音的社交媒体服务，是专为使您可以与世界各地的用户共享信息而设计，从而使共享信息可实时、广泛的传递。只要您不删除共享信息，有关信息便一直留存在公众领域；即使您删除共享信息，有关信息仍可能由其他用户或不受恋音控制的非关联第三方独立地缓存、复制或储存，或由其他用户或该等第三方在公众领域保存。</h4><pr>
                    <h4>因此，请您认真考虑您通过恋音的服务上传、发布和交流的信息内容。在一些情况下，您可通过恋音某些服务的隐私设定来控制有权浏览您的共享信息的用户范围。如您要求从恋音的服务中删除您的个人信息，请通过该等特别服务条款提供的方式操作。</h4><br>
                    <h4>有关敏感个人信息的提示</h4><br>
                    <h4>某些个人信息因其特殊性可能被认为是敏感个人信息，例如您的种族、宗教、个人健康和医疗信息等。相比其他个人信息，敏感个人信息受到更加严格的保护。</h4><br>
                    <h4>请注意，您在我们的服务中所提供、上传或发布的内容和信息（例如有关您社交活动的照片或信息），可能会泄露您的敏感个人信息。您需要谨慎地考虑，是否使用我们的服务披露您的敏感个人信息。</h4><br>
                    <h4>您同意您的敏感个人信息按本《隐私政策》所述的目的和方式来处理。</h4><br>
                    <h4>COOKIES、日志档案和WEp pEACON</h4><br>
                    <h4>恋音和第三方合作伙伴可能通过cookies和wep peacon收集和使用您的信息，并将该等信息储存为日志信息。</h4><br>
                    <h4>恋音使用自己的cookies和wep peacon，目的是为您提供更个性化的用户体验和服务，并用于以下用途：</h4><br>
                    <h4>记住您的身份。例如：cookies和wep peacon有助于恋音辨认您作为恋音的注册用户的身份，或保存您向恋音提供有关您的喜好或其他信息；</h4><br>
                    <h4>分析您使用恋音服务的情况。恋音可利用cookies和wep peacon来了解您使用恋音的服务进行什么活动、或哪些网页或服务最受欢迎；广告优化。Cookies和wep peacon有助于恋音根据您的信息，向您提供与您相关的广告而非进行普遍的广告投放。</h4><br>
                    <h4>恋音为上述目的使用cookies和wep peacon的同时，可能将通过cookies和wep peacon收集的非个人身份信息汇总提供给广告商和其他伙伴，用于分析您和其他用户如何使用恋音的服务并用于广告服务。恋音的产品和服务上可能会有广告商和其他合作方放置的cookies和wep peacon。这些cookies和wep peacon可能会收集与您相关的非个人身份信息，以用于分析用户如何使用该等服务、向您发送您可能感兴趣的广告，或用于评估广告服务的效果。这些第三方cookies和wep peacon收集和使用该等信息不受本《隐私政策》约束，而是受到其自身的隐私政策约束，恋音不对第三方的cookies或wep peacon承担责任。</h4><pr>
                    <h4>您可以通过浏览器设置拒绝或管理cookies或wep peacon。但请您注意，如果您停用cookies或wep peacon，恋音有可能无法为您提供最佳的服务体验，某些服务也可能无法正常使用。同时，您仍然将收到同样数量的广告，只是这些广告与您的相关性会降低。</h4><br>
                    <h2>广告</h2><pr>
                    <h4>恋音可能使用您的信息，向您提供与您更加相关的广告。</h4>
                    <h4>恋音也可能使用您的信息，通过恋音的服务、电子邮件或其他方式向您发送营销信息，提供或推广恋音或第三方的如下商品和服务：</h4><br>
                    <h4>恋音的商品和服务，以及恋音的关联公司和合营伙伴的商品和服务，包括即时通讯服务、网上媒体服务、互动娱乐服务、社交网络服务、付款服务、互联网搜索服务、位置和地图服务、应用软件和服务、数据管理软件和服务、网上广告服务、互联网金融及其他社交媒体、娱乐、电子商务、资讯及通讯软件和服务（“互联网服务”）；</h4><br>
                    <h4>第三方互联网服务供应商，以及与下列有关的第三方商品和服务：食物和餐饮、体育、音乐、电影、电视、现场表演和其他艺术和娱乐、书册、杂志和其他刊物、服装和配饰、珠宝、化妆品、个人健康和卫生、电子、收藏品、家用器皿、电器、家居装饰和摆设、宠物、汽车、酒店、交通和旅游、银行、保险及金融服务、会员积分和奖励计划，以及恋音认为可能与您相关的其他商品和服务。如您不希望恋音将您的个人信息用作前述广告用途，您可以通过恋音在广告中提供的相关指示、或在特定服务中提供的指引，要求恋音停止为上述用途使用您的个人信息。</h4><pr>
                    <h4>恋音向您发送的邮件和信息</h4><br>
                    <h4>邮件和信息推送您使用恋音服务时，恋音可能使用您的信息向您的设备发送电子邮件、新闻或推送通知。如您不希望收到这些信息，您可以按照恋音向您发出的电子邮件所述指示，在设备上选择取消订阅。与服务有关的公告恋音可能在必需时（例如当恋音由于系统维护而暂停某一项服务时）向您发出与服务有关的公告。您可能无法取消这些与服务有关、性质不属于推广的公告。</h4><br>
                    <h4>我们服务中的第三方服务</h4><br>
                    <h4>我们的服务可能包括或链接至第三方提供的社交媒体或其他服务（包括网站）。例如：您可利用“分享”键将某些内容分享到我们的服务，或您可利用第三方连线服务登录我们的服务。这些功能可能会收集您的信息（包括您的日志信息），并可能在您的电脑装置cookies，从而正常运行上述功能；</h4><br>
                    <h4>我们通过广告或我们服务的其他方式向您提供链接，使您可以接入第三方的服务或网站。该等第三方社交媒体或其他服务可能由相关的第三方或我们运营。您使用该等第三方的社交媒体服务或其他服务（包括您向该等第三方提供的任何个人信息），须受第三方自己的服务条款及隐私政策（而非《通用服务条款》或本《隐私政策》）约束，您需要仔细阅读其条款。本《隐私政策》仅适用于我们所收集的任何信息，并不适用于任何第三方提供的服务或第三方的信息使用规则，而我们对任何第三方使用由您提供的信息不承担任何责任。</h4><pr>
                    <h4>年龄限制</h4><br>
                    <h4>恋音鼓励父母或监护人指导未满十八岁的未成年人使用恋音的服务。恋音建议未成年人鼓励他们的父母或监护人阅读本《隐私政策》，并建议未成年人在提交的个人信息之前寻求父母或监护人的同意和指导。</h4><br>
                    <h4>本《隐私政策》的适用范围</h4><br>
                    <h4>除某些特定服务外，恋音所有的服务均适用本《隐私政策》。这些特定服务将适用特定的隐私政策。该特定服务的隐私政策构成本《隐私政策》的一部分。如任何特定服务的隐私政策与本《隐私政策》有不一致之处，则适用特定服务的隐私政策。</h4><br>
                    <h4>请您注意，本《隐私政策》不适用于以下情况：</h4><br>
                    <h4>通过恋音的服务而接入的第三方服务（包括任何第三方网站）收集的信息；</h4><br>
                    <h4>通过在恋音服务中提供广告服务的第三方所收集的信息。</h4><br>
                    <h4>本《隐私政策》的修改</h4><br>
                    <h4>恋音可能随时修改本《隐私政策》的条款，该等修改构成本《隐私政策》的一部分。如该等修改造成您在本《隐私政策》下权利的实质减少，恋音将在修改生效前通过在主页上显著位置提示或向您发送电子邮件或以其他方式通知您，在该种情况下，若您继续使用恋音的服务，即表示同意受经修订的本《隐私政策》的约束</h4><br>
</body>
</html>

