<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>未成年保护计划</title>

<style>
    .main{
        width: 94%;
        margin:0 auto;
        margin-top: 15%;
        font-size:0.8125rem ;
        line-height: 1.7;
    }
    p,strong{
        text-indent:3.125rem;
    }
    strong{
        text-decoration: underline ;
    }
    h1{
        text-align: center;
    }
</style>
<body>
    <h1>未成年保护计划</h1>
    <h4>为了给用户提供健康、文明、有序的交友环境，保障未成年人的网络空间安全， 恋音语音实行未成年人保护计划，通过技术防范和7*24h全天候的人工审查，坚决抵制任何影响未成年人健康成长的不良内容，严厉打击任何形式的违法违规、低俗涉黄、暴力血腥内容，坚持引导正确的价值导向，保护未成年人合法网络权益，促进未成年人的健康成长。</h4></br>
    <h4>同时，为了积极响应国家有关部门的政策号召，恋音语音已经在站内推出“家长监控模式”、“青少年模式”。开启家长监控模式后，无法进行打赏、充值等行为。</h4><br>
    <h4>恋音语音将来会启动更多相关的未成年人保护措施来切实落地保护未成年人的利益，我们将结合实名认证、大数据分析等手段对未成年人的行为进行进一步的监护与控制。</h4><br>
    <h4>恋音语音将持续深入践行社会主义核心价值观，坚定贯彻正确舆论导向，努力为社会文明及未成年人的成长承担应尽的义务。也期待大家在交友与娱乐的同时，与我们一同营造文明和谐的互联网环境。</h4><br>

</body>
</html>





