<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态信息发布准则</title>
</head>
<style>
    .main{
        width: 94%;
        margin:0 auto;
        margin-top: 15%;
        font-size:0.8125rem ;
        line-height: 1.7;
    }
    p,strong{
        text-indent:3.125rem;
    }
    strong{
        text-decoration: underline ;
    }
    h1{
        text-align: center;
    }
</style>
<body>
    <h1>动态信息发布准则</h1>
    <h3>为了给用户提供健康、文明、有序的交友环境，保障楚楚语音用户的网络空间安全， 楚楚语音颁布《动态信息发布准则》。通过技术防范和7*24h全天候的人工审查，坚决抵制任何影响楚楚语音用户的不良内容，严厉打击任何形式的违法违规、低俗涉黄、暴力血腥内容，坚持引导正确的价值导向，保护楚楚语音用户合法网络权益。</h3></br>
    <h3>一、禁止讨论敏感政治话题和国家领导人。</h3></br>
    <h3>二、禁止发布大尺度的SEX话题，包括约炮、约文爱、约SM、约裸照等相关动态。</h3></br>
    <h3>三、禁止发布情色和性暗示图片，血腥暴力等重口味图片，二维码图片。</h3></br>
    <h3>四、禁止发布广告贴、微商贴、交易帖、找人帖，推广社交账号（加群微信QQ微博也不可以）。</h3></br>
    <h3>五、禁止发布资源、求种子、求网址、求打钱、求翻墙工具相关动态。</h3></br>
    <h3>六、禁止发布欺诈、造谣、诽谤、污蔑他人的相关动态。</h3></br>
    <h3>用户发布动态若触发以上准则，将被封号处理。情节严重则移交警察局处理。</h3></br>
    <h3>楚楚语音将持续深入践行社会主义核心价值观，坚定贯彻正确舆论导向，努力为社会文明承担应尽的义务。也期待大家在交友与娱乐的同时，与我们一同营造文明和谐的互联网环境。</h3></br>
    <h3>楚楚语音直播平台</h3></br>
</body>
</html>

