<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>用户充值协议</title>
	</head>
	<style>
		.main{
			width: 94%;
			margin:0 auto;
			margin-top: 15%;
			font-size:0.8125rem ;
			line-height: 1.7;
		}
		p,strong{
		text-indent:3.125rem;
		}
		strong{
			text-decoration: underline ;
		}
		h1{
			text-align: center;
		}
	</style>
	<body>
			<h1>用户充值协议</h1>
			
			<p>尊敬的用户您好！请在音恋平台购买增值服务（“充值”）之前仔细阅读本协议。本协议已对与您的权益具有或可能具有重大关系的条款用粗体字予以标注，请您注意阅读。</p></br>
			<p>您使用平台账号充值即表示您认可并同意遵守以下条款，以及我们后续对条款随时所作的修改。<b>若您对本协议存在疑问，或者无法接受全部或者部分条款，可通过本协议附则所列方式联系我们，在您未与我们沟通一致前，请停止使用平台账号充值功能。</b>
</p>
			<strong>请确认您已年满18周岁，或您已年满16周岁且依靠自己的劳动收入作为主要生活来源，否则请您在法定监护人陪同下仔细阅读本协议并决定是否接受本协议及服务，或者停止使用本协议项下的充值服务。
</strong>
			<h2>第一章 总则</h2>
			
			<p>第1条 音恋平台是四川融企科技有限公司（“音恋”）向用户提供一种更方便地进行音视频直播、观看音视频直播并与用户进行互动的音视频社交服务平台，旨在为您提供虚拟礼物、技术支持、流量入口等进行音视频社交所需的非独家的软件许可使用及信息网络服务。
</p>
			
			<p>第2条 本协议是您与音恋之间关于您使用平台账号充值功能并接受增值服务所订立的协议。音恋可根据自身对商业、法律与政策等要素的判断更新本协议。</p>
			<p>第3条 本协议所指增值服务是为满足您用户体验和消费需求，音恋为您提供的高于普通观看音视频直播等基础层次的服务。您同意该服务的针对性以及成本投入，并同意按照平台充值规则为此付出相应费用。音恋保证充值规则对同类用户平等适用。</p>
			
			<h2>第二章 “音恋豆”购买规则</h2>
			
			<p>第4条 “音恋豆”是音恋向您提供的用于在音恋平台上进行相关消费的虚拟货币，您可以用“音恋豆”自由购买虚拟礼物等音恋平台上各项产品或服务。您可将购买的虚拟礼物赠与主播。<strong>但是，“音恋豆”不能兑换为人民币，您应根据自己的实际需求购买相应数量的“音恋豆”，音恋在任何情况下都不会提供任何退还或兑换服务。音恋上的交易记录将作为“音恋豆”交易的唯一有效依据。</strong></p>
			
			<p>第5条 您可以通过多种方式来购买“音恋豆”，在安卓系统手机APP上您可以通过微信、支付宝等进行购买，或者使用音恋钻石进行兑换（具体的兑换比例请以您充值时音恋平台即时公布的的规则为准），目前在IOS系统手机APP上您只能通过对APPLE账户充值进行购买。您也可以通过我们的官方网站http://www.jiawei8.cn/以及微信公众号选择充值金额和充值渠道进行充值购买。如您单笔充值金额5万元以上，请联系我们的客服了解具体充值方式。<strong>通过APPLE账户、支付宝、微信、银行卡等购买“音恋豆”时可能产生由第三方收取的手续费等费用，请您务必注意该等渠道充值操作页面提示，并自行了解收费规则，相关费用须由您自行承担。</strong></p>
			
			<p>第6条 人民币购买“音恋豆”的规则（包括但不限于兑换比例）以您充值时音恋即时公布或展示的规则为准。音恋<strong>有权根据相关法律规定、主管部门要求、业务开展情况等因素对使用人民币购买“音恋豆”的规则进行单方面变更、调整、中止或终止的权利。</strong>您可以选择即时终止购买行为，否则视为同意接受对上述购买规则的生效、变更、调整、中止或终止。
</p>
			<p>第7条 在进行充值时，您务必仔细确认自己的账号并仔细选择相关操作选项。<strong>若因为您自身输入账号错误、操作不当或不了解充值计费方式等非音恋因素造成充错账号、错选充值种类、填错充值金额等情形的，音恋将不予退费，也不会作出任何补偿或赔偿。
</strong></p>
			<p>第8条<strong>如果音恋发现因系统故障或其他原因导致的处理错误，无论有利于音恋还是有利于您，音恋都有权在以电子邮件、微信或其他合理方式通知您后纠正该错误。如果该措施导致您实际收到的“音恋豆”数量少于您应获得的“音恋豆”，则音恋在确认该处理错误后尽快将差额补足至您的音恋账户中。如果该错误导致您实际收到的“音恋豆”数量多于您应获得的“音恋豆”，则无论错误的性质和原因如何，音恋有权从您的音恋账户中直接扣除差额。</strong>您可随时在手机APP上查看您的“音恋豆”的余额情况。如您对该记录有异议，应立即向音恋提出，音恋核对后确有错误的，将予以更正。</p>
			<h2>第三章 权利声明</h2>
			<p>第9条 您应使用本人所有或被合法授权的支付账户持有人，确保可合法、有效使用该账户，否则因此造成账户实际所有人损失的，您应单独负责解决由此产生的纠纷并承担全部法律责任。</p>
			<p>第10条 音恋有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等。您了解，音恋的前述设定可能对您的交易造成一定不便，您对此没有异议。<strong>您通过苹果应用商店充值的次数每天不能超过20次，如果超过20次则音恋有权冻结该账户。</strong></p>
			<p>第11条 因您自身的原因导致您无法购买增值服务或增值服务购买时发生错误而产生的损失或责任，由您自行负责，音恋不承担责任，包括但不限于：</p>
			<p>（1）您未按照本协议或音恋增值服务相关规则进行操作；</p>
			<p>（2）因您的音恋账号失效、丢失、被封禁；</p>
			<p>（3）因您绑定的第三方支付机构账户的原因导致的损失或责任，包括您使用未经认证的第三方支付账户或使用非您本人的第三方支付账户，您的第三方支付账户被冻结、查封等；</p>
			<p>（4）您将密码告知他人导致的财产损失；</p>
			<p>（5）因您个人的故意或重大过失所造成的财产损失。</p>
			<p>第12条 音恋<strong>系统因下列状况无法正常运作，使您无法接受增值服务或发生虚拟财产丢失时，音恋不承担损害赔偿责任，该状况包括但不限于：</strong></p>
			<p><strong>（1）在音恋公告之系统停机维护、升级、调整期间；</strong></p>
			<p><strong>（2）电信通讯或设备出现故障不能进行数据传输的；</strong></p>
			<p><strong>（3）由于黑客攻击、电信部门技术调整或故障、网站升级、相关第三方的问题等原因而造成的服务中断或者延迟；</strong></p>
			<p>（4）因台风、地震、海啸、洪水、停电、战争、恐怖袭击、政府管制等不可抗力之因素，造成音恋系统障碍不能执行业务的。</p>
<h2>第四章 处罚规则</h2>
 
第13条 如发生下列任何一种情形，音恋有权中断或终止向您提供本协议项下的服务：
<p>（1）您提供的实名信息不真实；</p>
<p>（2）您违反本协议中规定的充值规则；</p>
<p>（3）您违反音恋活动规则参与活动等。</p>
<p>对于充值服务的中断或终止而造成的任何损失，音恋无需对您或任何第三方承担任何责任。</p>
<p>第14条 如果您使用非本人苹果手机应用商店代冲值，或者通过非音恋认可的渠道进行充值，音恋不保证该充值顺利完成，并有权冻结相关账户，采取相应处理措施，严重者将进行封号处理，并不为此做任何补偿或赔偿。</p>
<p><strong>第15条 如果您采取不正当方式（包括但不限于以违反平台规则、利用系统或规则漏洞、使用外挂或其它作弊程序等方式），直接或间接地对音恋账户进行充值、获取/买卖音恋豆、虚拟礼物、贵族礼物以及平台奖励，侵害音恋或其他用户利益（无论是否实际获得不当利益），音恋有权随时没收、冻结不当所得，封禁您的音恋账号及禁止您使用各项增值服务。</strong></p>
<p>第16条 用户不得通过充值进行任何违法犯罪活动，否则音恋有权终止服务，情节严重的，依法移交司法机关。</p>
<p><strong>第17条 用户在使用音恋时，如出现违反国家法律法规、《用户注册协议》、《用户兑换协议》约定、本协议约定或其他音恋对用户的管理规定的情形，音恋有权暂时或永久封禁您的账号。账号封禁后至解禁（如有）前，您账户上的剩余“音恋豆”将被暂时冻结或全部扣除，不可继续用于购买平台上的增值服务，同时您购买“音恋豆”时的现金价值不予返还。</strong></p>
 
<h2>第五章 未成年人充值条款</h2>
 
<p>第18条 未成年人涉世未深，容易被网络虚拟世界迷惑，监护人应多关心未成年人的成长，对未成年人使用本产品或服务多做正确的引导，避免未成年人知晓监护人音恋账号以及第三方账户支付信息，并提醒未成年人注意网络安全问题，促进未成年人健康成长。</p>
<p><strong>第19条 若您是未满18周岁的未成年人，应在监护人监护、指导下共同阅读并同意本协议，并在征得监护人同意的前提下进行充值。音恋有权根据法律法规及您使用情况，独立判定您的行为是否有效。</strong></p>
 
<h2>第六章 附则</h2>
 
<p><strong>第20条 音恋有权在法律允许的范围内对本协议进行修订，修订后的协议将通过公示的方式对您的告知。若您对修改文本存在疑问，或者无法接受全部或者部分条款，可通过下列方式联系我们，在您未与我们沟通一致前，请暂停使用或注销音恋账号。如果您继续使用的，视为您已接受修改后的协议。如需开具发票，请联系平台在线客服。如需开具发票，请联系平台在线客服。</strong></p>
<p>客服邮箱：2594611344@qq.com，点击“消息-在线客服”。</p>

<p>第21条 本协议的成立、生效、履行、解释及纠纷解决均适用中华人民共和国大陆地区法律（不包括冲突法）和政策。相关法律与政策可能处于动态变化过程中，若因适用法律与政策发生变化，导致您和/或音恋在本协议下的权益有所增减，均不构成本协议的全部或某个条款自然无效或终止可执行性的依据，除非发生变化的相关适用法律与政策属于效力性强制性规定。</p>
<p><strong>第22条 因本协议引起的或与本协议有关的争议，首先应当友好协商解决；协商不成的，您同意将争议提交北京互联网法院解决。</strong></p>

	</body>
</html>

