<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户支付协议</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

        <div class="panel-heading"><h1>用户支付协议</h1></div>
        </div>

<p><h2>【审慎阅读】欢迎您使用like电竞平台（以下简称like电竞）LB充值服务！在同意本协议前，请您认真阅读并充分知悉、理解like电竞的各项规则及要求，以及国家关于该类互联网信息服务的法律法规等。如果您对本协议的任何条款表示异议，您可以选择不使用；使用则意味着您将同意遵守本协议项下全部规定，以及我们后续对充值服务所作的任何修改。本协议已对与您的权益具有或可能具有重大关系的条款，及对like电竞具有或可能具有免除或限制责任的条款用粗体字予以标注，请您注意。</h2></p>
<p><h2>【特别提示】 充值用户须确认自己具有完全民事行为能力，已年满18周岁，或已年满16周岁且依靠自己的劳动收入作为主要生活来源。未成年用户使用like电竞LB充值服务，必须得到家长或其他合法监护人的同意。like电竞对于未成年人用户使用本服务过程中的行为，以及因其使用本服务而产生的一切后果不承担责任。
like电竞公司谨此提醒家长合理引导未成年子女的上网及消费行为。</h2></p>

<p><h1>1.服务说明</h1></p>
<p><h2>1.1 LB是like电竞为用户提供的用于在like电竞平台进行相关消费的虚拟货币，您可以用“LB”自由兑换成虚拟礼物等各项产品或服务。LB不能兑换成人民币，请您根据自己的实际需求购买相应数量的LB。</h2></p>
<p><h2>1.2 LB属于在线交付的充值类商品，因其特殊属性不适用《消费者权益保护法》中有关反悔权及网络购买商品七日无理由退货等条款的约束，用户一旦充值成功，充值即确定完成，like电竞不提供任何退还或逆向兑换服务。因LB无法使用而产生异议，用户可以通过客服专线查询处理。</h2></p>

<p><h1>2.使用规则</h1></p>
<p><h2>2.1 用户必须为苹果支付账户开户人/持有人，可合法、有效使用该账户且未侵犯任何苹果支付权益，否则因此造成支付账户实际所有人损失的，应由用户单独负责解决由此产生的纠纷并承担全部法律责任。</h2></p>
<p><h2>2.2 用户必须采用苹果支付增加账户所有的LB数量。若使用非苹果支付进行充值，或以非法的方式进行充值而造成用户权益受损时，不得因此要求like电竞作任何补偿或赔偿，like电竞也保留随时终止该账户资格及使用各项充值服务的权利。</h2></p>
<p><h2>2.3 在使用LB充值系统时，用户务必仔细确认自己的账号及充值金额，因用户自身原因输入账号错误、操作不当或不了解充值计费方式等因素造成充错账号、选错充值种类、填错充值金额等情形而损害自身权益的，应自行承担责任。</h2></p>
<p><h2>2.4 若因用户违反like电竞用户协议或本充值服务协议，like电竞因此冻结账号及终止账号使用资格者，不得要求like电竞作任何补偿或赔偿。</h2></p>
<p><h2>2.5 如果like电竞平台发现因系统故障或其他任何原因导致的处理错误，无论有利于like电竞平台还是有利于您，like电竞平台都有权在以电子邮件、电话、私信或其他合理方式通知您后纠正该错误。如果该措施导致您实际收到的LB数量少于您应获得的LB，则like电竞平台在确认该处理错误后会尽快将差额补足至您的账户中。如果该错误导致您实际收到的LB数量多余您应获得的LB，则无论错误的性质和原因如何，like电竞平台有权从您的账户中直接扣除差额。</h2></p>
<p><h2>2.6 用户不得通过LB充值进行任何违法犯罪活动，否则like电竞有权终止服务，情节严重的，依法移交司法机关。</h2></p>

<p><h1>3.渠道商服务手续费用</h1></p>
<p><h2>各充值方式对应的渠道商可能会按其标准制定相关充值渠道手续费用（可能会在充值操作页面或渠道商其他页面上提示），并在用户充值时收取。like电竞特此提醒：请用户务必注意各充值方式的渠道商服务手续费，并按自己的需求选取充值方式。</h2></p>

<p><h1>4.免责声明</h1></p>
<p><h2>4.1 您可随时在手机APP上查看您的账户LB余额。如您对该记录有异议，应立即向like电竞平台提出，like电竞平台核对后确有错误的，将予以改正；否则您同意like电竞平台上的交易记录作为LB交易的唯一有效依据。</h2></p>
<p><h2>4.2 like电竞平台有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额，交易次数等。您了解，like电竞的前述设定可能对您的充值交易造成一定不便，您对此没有异议。</h2></p>
<p><h2>4.3 在任何情况下，对于您购买LB时涉及由苹果支付提供相关服务的责任由该苹果支付承担，like电竞平台不承担该等责任。</h2></p>
<p><h2>4.4 因您自身的原因导致like电竞平台无法提供LB购买服务或提供LB购买服务时发生任何错误而产生的任何损失或责任，由您自行负责，like电竞平台不承担责任，包括但不限于：（1）您未按照本协议或like电竞平台不时公布的任何规则进行操作；（2）因您的like电竞账号失效、丢失、被封停；（3）因您绑定的苹果支付支付机构账户的原因导致的损失或责任，包括您使用未经认证的苹果支付支付账户或使用非您本人的苹果支付支付账户，您的苹果支付支付账户被冻结、查封等；（4）您将密码告知他人导致的财产损失；（5）因您个人的故意或重大过失所造成的财产损失。</h2></p>
<p><h2>4.5 like电竞系统因下列状况无法正常运作，使您无法使用各项服务或任何虚拟财产丢失时，本团队不承担损害赔偿责任，该状况包括但不限于：（1）在like电竞平台公告之系统停机维护、升级、调整期间；（2）电信通讯或设备出现故障不能进行数据传输的；（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击、政府管制等不可抗力之因素，造成like电竞系统障碍不能执行业务的；（4）由于黑客攻击、电信部门技术调整或故障、网站升级、相关苹果支付的问题等原因而造成的服务中断或者延迟。</h2></p>

<p><h1>5.服务变更、中断或终止</h1></p>
<p><h2>5.1 like电竞平台可以根据业务需求随时变更服务或更新本协议的条款，但应在相关的页面上及时提示修改内容。修改后的服务协议一旦在页面公布即替代原来的服务协议。您可随时通过LB充值页面查阅最新的充值服务协议。</h2></p>
<p><h2>5.2 如发生下列任何一种情况，like电竞有权随时中断或终止向您提供本协议项下的网络服务而无需通知您：（1）您提供的个人资料不真实；（2）您违反本协议规定的购买规则；（3）您违反like电竞用户协议及其like电竞直播平台管理规则。除前款所述情形外，like电竞同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络充值服务的权利，对于充值服务的中断或终止而造成的任何损失，like电竞无需对用户或任何苹果支付承担任何责任。</h2></p>
<p><h2>5.3 如果用户违规使用非本人苹果手机应用商店代充值，或者通过其他未经like电竞认可的渠道非法购买LB，则like电竞有权冻结该账户，并进行相应处罚，严重违规者将封号处理。</h2></p>
<p><h2>5.4 用户在使用like电竞时，如出现违反国家法律法规、《用户注册协议》、《like电竞直播平台违规管理办法》、本协议规定或其他like电竞对用户的管理规定之情形，like电竞有权暂时或永久封禁您的账号。账号封禁后至解禁前（如有），您账户上的剩余LB将被暂时冻结或全部扣除，不可继续用于购买平台上的虚拟产品或服务，同时不予返还您购买LB时的现金价值。</h2></p>

<p><h1>6.法律适用、管辖及其他</h1></p>
<p><h2>6.1 本协议签订地为中华人民共和国北京市朝阳区。</h2></p>
<p><h2>6.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律。</h2></p>
<p><h2>6.3 若您和like电竞之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交至like电竞所在地有管辖权的人民法院管辖。</h2></p>
<p><h2>6.4 本协议任意一条被视为废止、无效或不可执行，该条款视为可分的且不影响本协议其余条款的有效性及执行性。</h2></p>

<p><h2>like电竞直播平台 </h2></p>
































        </div>
	</div>
</body>
</html>
