<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<style>
		.main{
			width: 94%;
			margin:0 auto;
			margin-top: 15%;
			font-size:0.8125rem ;
			line-height: 1.7;
		}
	</style>
	<body>
		<div class="main">
			<h1>一、充值后怎么查看是否到账？</h1>
			
			充值后可登录Mua——我的钱包中查看账户余额。

			<h2>二、充值未到账怎么办？</h2>

			由于网络等因素，若您的充值未能及时到账，可尝试重新登录查看，如未到账您可以向客服提交您的信息，我们将会尽快解决您的问题。

			<h4>充值未到账反馈的信息如下：</h4>
			<p>·Mua账号</p>
			<p>·充值时间</p>
			<p>·充值金额</p>
			<p>·支付方式</p>
			<p>·订单截图</p>
			<h4>联系我们</h4>
			客服QQ： 3425184378 (服务时间：9:00-18:30）
			
			<h1>三、充错账号怎么办？</h1>
			
			非常抱歉，充错账号是不能够办理退款的，请您仔细核实充值号码和充值金额，确认无误再提交订单，避免给您带来损失哦。
			
			再次提醒各位玩家，抵制非法充值，注意账号安全。切勿通过其他任何非官方渠道进行充值。
		</div>
	</body>
</html>
