<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>申请家族协议</title>

    <style>
        .main{
            width: 94%;
            margin:0 auto;
            margin-top: 15%;
            font-size:0.8125rem ;
            line-height: 1.7;
        }
        p,strong{
            text-indent:2rem;
        }
        li{
            text-indent:3rem;
        }
        strong{
            text-decoration: underline ;
        }
        h1{
            text-align: center;
        }
    </style>
<body>
<h2>Mua平台公会主播入驻协议</h2>


<b>请主播（下称“你方”）入驻公会前认真阅读本《Mua平台公会主播入驻协议》（下称“本协议”），本协议是关于你方申请成为公会主播的规范权利义务的电子协议，特别本协议的免责条款、权利限制条款可能以加粗形式提示注意。请你方审慎阅读后，选择接受或不接受本协议，若你方申请点击成为公会主播时勾选“我已阅读且同意”按钮，即表示你方已仔细阅读并理解本协议所有条款的含义，也表示你方完全接受本协议项下所有条款，否则你方无权使用Mua直播平台的相应服务。</b>

<h4>1 入驻事项</h4>
<p>1)本协议中的“Mua”，是指运营Mua直播平台，也包含与Mua直播业务有关的网站、应用等，包括但不限于Mua的网站及子网站、Mua直播客户端、APP应用等。
</p>
<p>2)本协议中的“你方”，是指在Mua直播平台上注册成为主播，并申请成为公会主播进行、开展在线视频直播活动并提供相关直播服务的人员。
</p>
<p>3) 签署本协议前，你方已充分了解并承诺接受Mua平台各项协议及规则（包括但不限于《Mua直播用户协议》、《Mua直播主播违规管理办法》、《Mua直播版权投诉指引》等），并且你方承诺有条件及有能力履行直播活动的职责及义务，也不与你方与任何第三方签署的任何协议相冲突或矛盾。
</p>
<p>4) 你方承诺并声明在提供在线视频直播服务时符合所在地法律的相关规定，不得以履行本协议名义从事违反中国及所在地法律法规规定的行为。
</p>
<p>5) 你方不与Mua构成任何劳动法律层面的雇佣、劳务、劳动合同关系。
</p>
<p>6) 你方申请加入公会后获得的收益报酬将直接结算给公会，为保障你方的合法权益，请你方在申请加入公会时自行与公会确认好你方的分成比例。
</p>
<p>7) 你方因在Mua直播活动而产生的视频、音频内容及其他关联内容（该内容定义为通过对直播活动进行上载、发帖、发送电子邮件或者任何其他方式传送的视频、音频或其他任何形式的衍生品包括资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料本身及相应链接）、直播及后期录音制作的视频、音频等的相关权利，包括但不限于著作权、邻接权等知识产权，均归属Mua完整所有，未经Mua同意，你方不得授权第三方使用。
</p>
<p>8) 你方申请加入公会时将选择与公会的签约期限，该等签约期限你方无法自行变更或退出公会，除非你方与公会协商一致书面报备Mua或Mua直播允许的其他事由，请你方谨慎选择公会。
</p>
<p>9) 你方成功加入公会后，不得私自变更公会，请你方谨慎选择公会。你方如有转会诉求，必须符合Mua直播平台关于转会的相关规定，且必须征得Mua直播平台的同意，否则我方不予认可；
    同时不允许你方利用他人身份注册或利用他人直播账户在Mua平台进行直播服务，否则我方有权随时暂停你方的直播且无需承担任何责任。
</p>
<p>10) 你方在Mua直播平台直播期间，不得在任何其它直播平台进行同步直播、分时段直播等任何形式的直播表演，如你方违反本项规定，Mua将直接暂停你方在本平台的直播权限，且有权要求你方返还在本平台获得的全部直播收益并赔偿Mua由此所遭受的全部损失
</p>
<p>11) Mua直播平台向公会或者主播提供技术支持、技术保障及维护更新，同时Mua平台会根据行业情况、技术成本、直播平台政策等因素向公会或者主播收取或调整一定费用。
</p>

<h4>2 我方权利义务</h4>
<p>1) 我方平台有权制定并根据需要不时的制定、修改平台运营制度（包括但不限于《Mua直播官方政策》、《Mua直播管理及处罚条例》、《Mua主播违规管理办法》），平台运营制度或管理规则有任何变更，你方无条件同意并认可我方指定和不时调整的相关规定。任何修订和新规则一经在Mua平台公布即自动生效，成为本协议的一部分。我方有权对你方进行管理和监督，有权根据运营情况对你方做出调整或变更，有权对你方进行考察、评判，以确立或取消对你方的奖励或处罚。
</p>
<p>2) 你方知悉并同意，对于任何非法盗用、刊登、转载、复制在线直播节目或其他侵犯Mua平台对在线直播节目享有的著作权或邻接权的行为，Mua平台均可以以自己名义进行维权，包括但不限于采取申请证据保全、财产保全、行政投诉、提起民事诉讼、上诉、申请执行、和解、获得赔偿金等法律行动。
</p>
<p>3) 我方出于平台管理的需要，有权随时通知你方终止平台公会服务或本协议而无需承担任何责任。我方有权对直播平台或平台公会系统进行维护和更新，因维护或更新导致直播暂停的，我方无需承担任何责任。
</p>
<p>4) 我方有权随时对你方直播内容进行审查，如直播内容出现违反本协议项下约定或法律法规规定或有违公序良俗的，我方有权随时暂停你方的直播且无需承担任何责任。我方有权保存相关记录，并向文化行政部门或公安机关报告。
</p>
<p>5) 我方有权免费使用你方的姓名（包括但不限于网名、艺名、昵称等）及肖像用于推广宣传活动。为提升你方知名度和影响力，我方有权以授权、许可、合作经营等方式，转让给本协议外的其他合作方全部或部分权利、义务，即有权与任何本协议外的其他合作方共同享有和承担本协议项下权利义务，你方应予配合和服从。
</p>

<h4>3 你方权利义务</h4>
<p>1) 你方，需按照平台规则如实填写、披露一些必要信息，这些信息包括但不限于：你方姓名或名称、身份证号、联系地址、银行账户信息、邮箱和联系电话等。你方应保证这些信息在提供时是真实、准确、有效且完整的，且应及时根据实际情况更新这些信息。由于信息披露不完整、不真实或者信息更新不及时导致你方受到任何损失的，应由你方独自承担责任，若因此给Mua造成损失的，你方应当承担赔偿责任。
</p>
<p>2) 你方对其直播房间的全部行为承担全部责任。你方应确保直播房间必须仅作娱乐性质用途，不得用于其他任何非娱乐直播性质的或法律禁止的活动，不得将直播账户或直播房间借用给任何第三人使用。
</p>
<p>3) 你方直播行为不得存在侵犯他人合法权益的情形，保证不含有（1）反对宪法确定的基本原则的；（2）危害国家统一、主权和领土完整的；（3）泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；（4）煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；（5）宣扬邪教、迷信的；（6）扰乱社会秩序，破坏社会稳定的；（7）诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；（8）侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；（9）危害社会公德，损害民族优秀文化传统的；（10）严禁使用非本人认证账号或多人共用账号开播；（11）禁止转播未获得授权的内容（包括但不限于影视剧、动漫、视频、赛事等）；（12）禁止在直播时宣传违法违规、虚假、欺诈、传销性质类广告；（13）禁止购买虚假直播人气，扰乱平台内容行为；（14）禁止直播其他经过Mua直播平台运营人员提醒禁播的内容；（15）禁止以任何形式恶意、带有煽动性行为诋毁、抹黑Mua官方形象；（16）禁止直播过程中长时间挂机直播、应付式直播等消极直播行为（包括但不限于：黑屏挂机<5分钟以上>、长时间定格同一或相似画面等）；（17）有关法律、行政法规和国家规定禁止的其他内容，并及时制止其在直播过程中发生的色情、暴力引导、迷信传播、反动言论等违反法律和道德的行为。如果你方违反上述承诺，Mua有权根据情节，对你方做出警告、限制账号功能、冻结账号、扣罚收入等处罚，同时Mua平台有权随时单方面解除本协议并举报到相关国家机关。因你方直播引起的纠纷均由你方自行解决。如因此造成Mua平台损失的，你方应赔偿Mua的所有损失。
</p>
<p>4) 你方应保证遵守国家法律法规，保持自身良好形象，在向新闻媒体（包括但不限于报刊杂志、网站、微博、微信等媒体渠道）公开布自身隐私、立场、观点或发表与Mua及直播平台相关的言论时，必须事先征得Mua的书面同意，但Mua的同意不视为我方为你方的言论负责，你方应为自身的言论和形象负责，若因你方言论和形象给我方造成损失的，你方应承担全部赔偿责任。
</p>
<p>5) 你方应积极维护Mua及直播平台的形象，不得做出有损于Mua和直播平台的任何行为。你方不得通过任何渠道（包括但不限于报刊杂志、网站、博客、微博、微信、QQ、主播聚会等）发布或实施任何不利于Mua及直播平台的言论或行为，因此给Mua造成损失的，你方应承担全部赔偿责任。若你方发生负面事件（包括但不限于违规、违法、犯罪或违背社会公德、公序良俗等行为）或受到刑事行政处罚，需自行承担法律后果及给第三方造成的损害赔偿。
</p>
<p>6) 未经我方事先书面许可，你方不得借我方及/或直播平台之名义吸纳或接受任何形式的赞助或广告或代言，未经我方事先书面许可，不得利用自身影响力或形象与他方进行任一形式的商业化合作，包括但不限于开设淘宝店铺及类似网店，设立商品或服务品牌等。
</p>
<p>7) 你方保证，如我方有需要，你方全力配合Mua安排的各类商业活动，包括但不限于及时通过微博、微信、QQ等社交平台推送Mua直播活动，并按照Mua要求对其直播账号冠名，根据Mua的安排以良好形象准时参加各类商业活动。
</p>

<h4>4 收益分配</h4>
<p>1) 你方加入Mua直播平台的公会后，我方负责平台收益分成结算，我方有权将你方所获得服务费用支付于你方所在公会的收款账户中。你方与所在公会之间的费用由你方与所在公会自行结算，我方向你方所在公会支付服务费用后，即视为我方已经履行了本协议项下的付款义务。
</p>
<p>2) 你方后台收入达到平台标准时可签约为优质艺人，且每月金豆/佣金等服务费用结算无上限。若收入超过平台标准并没有签约优质艺人，每月金豆/佣金等服务费用结算存在上限，届时标准以我方通知或公布为准
</p>
<p>3) 我方现只支持对公结算：你方所有金豆、佣金收入在结算时全部计入签约公会的企业账户，由公会再统一分配。
</p>
<p>4) 与公会签约期间，严禁你方使用其他账号进行表演。一旦发现，Mua官方有权禁止此账号在Mua直播平台进行表演。
</p>
<p>5) 你方知晓并同意，违反本协议项下约定或义务，我方有权暂停向公会结算你方相应收益报酬。经Mua平台书面通知后，我方有权从你方应得的收益报酬中直接扣除你方应向Mua平台支付的赔偿金、违约金、政府部门罚款以及应向平台用户支付的补偿金、赔偿金等款项。
</p>
<p>6) 你方同意，用户在Mua平台对你方进行赠送虚拟礼物的消费，你方收到的该等收益报酬均视为Mua平台所支付收益。如果你方违反本协议项下约定或义务，我方有权要求你方返还所有在Mua平台直播活动过程中获得的所有收益（包括但不限于Mua平台结算给公会属于你方的款项、Mua平台按照虚拟礼物兑换后的人民币支付款项）。
</p>

<h4>5 协议的解除、终止</h4>
<p>1) 除本协议另有约定外，本协议在下述情形下终止或解除，Mua书面通知你方时，自通知到达之日本协议终止或解除：
</p>


<ul>
    <p><li>1.因不可抗力而解除本协议；</li></p>
    <p><li>2.协商一致解除本协议的。</li></p>
</ul>

<p></p>
<p>2) 你方有下列情形之一，我方可以立即解除本协议，不需要提前通知：
</p>
<ul>
    <p><li>1.你方违反对本协议所做的声明与承诺的；</li></p>
    <p><li>2.你方违反国家法律法规的；</li></p>
    <p><li>3.你方严重违反本协议规定的义务；</li></p>
    <p><li>4.你方以消极、不作为等不符合我方要求的方式履行本协议的（即使未构成违约）；</li></p>
    <p><li>5.我方业务调整，不再进行直播服务业务的。</li></p>
</ul>

<p>3) 如发生情势变化，可能影响本协议的履行或协议目的的实现，则Mua可以提前十五日书面通知你方解除本协议，则本协议自动终止。
</p>
<p></p>

<h4>6 违约责任</h4>
<p>1) 你方违反本协议约定，应尽力减少、消除因其违约造成的不利影响；给Mua造成损失的，应赔偿Mua由此所遭受的全部损失。本协议项下之损失包括但不限于本协议约定的违约金、直接经济损失、预期利益损失等。
</p>
<p>2) 若你方违反本协议项下义务，并因此给Mua造成直接或间接损失的，Mua有权向你方追偿全部损失，并要求你方承担行使权利的费用（包括但不限于律师费、诉讼费、公证费等）。
</p>
<p>3) 你方违反本协议应承担的违约责任与Mua直播平台规则的相关罚则同时适用。
</p>

<h4>7 争议解决与适用法律</h4>
<p>1) 本协议签订地为深圳市南山区，在本协议的履行过程中如发生争议，应通过友好协商的方式予以解决。若进行协商后未能解决争议，任何一方均应将争议提交本协议签订地深圳市南山区人民法院诉讼解决。
</p>
<p>2) 本协议的订立、效力、解释、履行和争议的解决均应适用中华人民共和国大陆法律。
</p>

<h4>8 保密</h4>
<p>1) Mua商业秘密是指属于Mua和（或）其关联公司所有，并被Mua视为商业秘密的技术、财务、商业或任何其他方面的信息，包括但不限于你方从Mua获得道具（礼物）收入的金额和计算方式、标准；你方获得的报酬及相关单据；权利归属方式和授权方式；Mua经营管理策略、客户名单；Mua人员信息和联系方式等不为公众所知悉的信息。
</p>
<p>2) 你方未经Mua同意，不得以任何方式向第三方进行传播、泄露（包括暗示）、使用Mua商业秘密。你方若违反上述保密义务，需应向我方支付人民币50万元作为违约金，并赔偿由此给我方造成的全部损失。
</p>

<h4>9 不可抗力</h4>
<p>1) “不可抗力”是指不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据协议履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、罢工、黑客攻击、计算机病毒（如木马程序、蠕虫等）、电信部门技术性调整或任何其它类似事件。
</p>

<p>2) 由于以上所述不可抗力事件致使协议的部分或全部不能履行或延迟履行协商解决。</p>

<h4>10 其它条款</h4>
<p>1) 无论因何种原因（包括但不限于违反适用的法律法规）导致本协议任何条款完全或部分无效或不具有执行力，不影响本协议任何其他条款的效力、合法和可执行性。
</p>
<p>2) 未经我方事先书面同意，本协议你方不得转让其在本协议项下的权利（无论是全部或部分），或转让其在本协议项下的义务（无论是全部或部分）。</p>

</body>
</html>

