<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员说明</title>
    <style>
        body{
            width: 88%;
            margin:0 auto;
            background: #ffffff;
            font-size: 13px;
            line-height: 1.7;
        }
        strong{
            text-decoration: underline ;
        }
        h4{
            text-align: center;
        }
    </style>
</head>
<body>
<p>1、开通会员说明<br/>
用户开通会员可选择自动扣费模式或选择固定月度。请在开通会员前仔细阅读音恋语音会员协议及自动续费协议。会员开通成功后会员权益自动发放，不支持退费。
</p>

<p>2、自动续费的管理与取消<br/>
开通：<br/>
（1）IOS端用户通过苹果支付进行自动续费，一部设备仅支持同时为1个音恋语音账号（UID）进行自动续费管理。<br/>
（2）Android端用户可通过支付宝进行自动续费。<br/>
</p>

<p>续费：<br/>
开通连续自动续费服务后，将会按照您开通时选择的支付方式在当前会员有效时长结束前24小时内自动扣费，同时延长会员使用的有效时间。
</p>

<p>取消自动续费：<br/>
如若取消自动扣费，请于下一个账单扣款前操作<br/>
（1）若您使用苹果手机，请打开手机“设置”—>进入“iTunes Store 与 App Store”—>点击“App ID”—>点击“App ID”，选择“查看App ID”，进入 “账户设置”页面，点击“订阅”选择我司会员 取消订阅即可；<br/>
（2）若您使用非苹果手机，则请打开支付宝App-我的-设置-支付设置-免密支付/自动扣款，关闭自动续费即可。<br/>
</p>

<p>3、关于经验值、贵族值的增长<br/>
会员为增值服务，开通会员不会增长经验值和贵族值。<br/>
</p>

</body>
</html>