<style>
    *{		/* CSS Reset */
        margin : 0;
        padding : 0;
    }
    .background_div_a{
        background:url(/web/images/backgroun.png);
        background-size:100% 100%;
    }
    .background_div_b{
        width: 100%;
        height: 100%;
        background-color:rgb(0,0,0,0.5);
        text-align:center;
    }
    img{
        width: 80%;
    }
</style>
<!DOCTYPE html>
<html class="pixel-ratio-2 retina watch-active-state"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="robots" content="all">
    <meta name="author" content="Tencent-TGideas">
    <meta name="Copyright" content="YIyou">
    <meta name="Description" content="音咖语音">
    <meta name="Keywords" content="音咖语音">
    <title>音咖语音引导</title>
    <!--    <link rel="stylesheet" href="./zhifu/css/style.css">-->
    <link rel="shortcut icon" href="https://image.fqparty.com/images/favicon.png"  type="image/x-icon">
</head>
<body>
<div  class="background_div_a">
    <div class="background_div_b">
        <img src="/web/images/men1.png" alt="">
    </div>
</div>

</body>
</html>