<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>音恋会员协议</title>

    <style>
        .main{
            width: 94%;
            margin:0 auto;
            margin-top: 15%;
            font-size:0.8125rem ;
            line-height: 1.7;
        }
        p,strong{
            text-indent:2rem;
        }
        li{
            text-indent:3rem;
        }
        strong{
            text-decoration: underline ;
        }
        h1{
            text-align: center;
        }
    </style>
<body>
<h1>音恋会员协议</h1>
<h4>一、音恋会员协议</h4>
<p>相关使用规范的规定下使用音恋服务的注册用户。</p>
<p>1、音恋是由四川融企创建、运行的移动社交产品。</p>
<p>2、音恋用户是指完成全部注册流程,愿意接受《音恋协议》并在音恋相关使用规范的规定下使用音恋服务的注册用户。</p>
<p>3、音恋会员服务是音恋为音恋用户提供的有偿增值服务,用户向音恋支付相关费用后,方可享受专门为会员提供的各项服务。</p>
<p>4、音恋会员必须遵守《音恋协议》及本服务条款。</p>

<h4>二、服务费用</h4>
<p>1、会员资格以月为单位计算(每月按31天计算),会员服务费用标准以页面显示为准,用户应通过一次性支付的方式购买会员服务。音恋将根据不同的购买方式和数量,向用户提供不同幅度的优惠,具体优惠信息以会员资格支付页上内容为准。
</p>
<p>2、音恋可以根据实际情况随时调整会员服务费用标准,经调整的会员服务费用标准将在会员资格支付页上显示,用户按调整后的服务费用标准支付后方可享有或延续会员资格。已按原会员服务费用标准购买会员服务的用户,其会员资格以及所享有的会员服务在已取得的会员资格期限内不受影响,无需补充缴纳差额。

<h4>三、服务内容
</h4>
<p>1、音恋将为会员提供多种专享的增值服务,具体内容将在会员页面显示。
</p>
<p>2、音恋可以根据实际情况随时调整会员服务内容。
</p>

<h4>四、服务的开通和终止
</h4>
<p>1、音恋用户完成用户注册程序,并通过音恋平台提供的付费途径完成会员费用的支付后,即取得音恋会员资格。
</p>
<p>2、音恋用户通过音恋平台完成会员注册,所提交的内容与个人资料必须真实有效。当会员的个人资料发生变化时,会员应及时修改注册的个人资料,否则由此造成的会员权利不能全面有效行使或其他任何后果、责任由会员自行承担。
</p>
<p>3、会员资格有效期自音恋会员服务开通之时起算,具体期限可以登录音恋客户端会员中心页查看。</p>
<p>4、除非用户开通自动延续功能,会员资格有效期届满后,音恋将终止向该用户提供会员增值服务,该用户可以通过续交会员服务费用延续会员资格。
</p>
<p>5、会员在会员资格有效期内续费,会员资格有效期将在原有效期基础上相应延长。</p>

<h4>五、会员的权利和义务
</h4>
<p>1、音恋会员平等享有会员的权利,同时应遵守音恋的各项规范、规则,包括但不限于本服务条款和《音恋协议》
</p>
<p>2、因违反《音恋会员协议》而导致会员服务被暂停使用的相关损失,由用户自行承担
</p>
<p>3、会员在会员资格有效期内可以享受音恋会员的各项增值服务。
</p>
<p>4、如果会员在会员资格有效期内主动终止或取消会员资格音恋不负责退还与该会员剩余会员资格有效期对应的服务费用</p>
<p>5、会员自行承担在音恋中传送、发布信息及使用音恋免费服务或收费服务的法律责任,会员使用音恋服务,包括免费服务与收费服务的行为,均应遵守各项法律法规、规章、规范性文件(以下简称"法律法
    规”)。
</p>


<h4>六、权利和义务
</h4>
<p>1、音恋有义务保证遵守本服务条款、《音恋协议》及各项规范、规则的会员正常使用会员服务,当出现技术故障影响会员服务的正常提供时,音恋应尽快排除故障,但对于会员因此产生的任何损失,音恋不承担责任。
</p>
<p>2、音恋在未经会员授权时,不得公开、编辑或透露会员注册及保存的非公开信息,但法律法规明确规定及《音恋协议》约定的情形除外。
</p>
<p>3、音恋将通过音恋系统对会员进行通知和公告。html表格代码
</p>
<p>4、因不可抗力造成会员服务提供的中断或其它缺陷,音恋不承担任何责任,但将尽力减少因此给会员造成的损失和影响。
</p>
<p>5、因会员原因造成的音恋帐号密码泄露,音恋不承担责任,同时为避免音恋帐号被盗用后滥用而引起法律风险,音恋可以在用户举报该情形
</p>

<table style="text-align:center;" border='1'cellspacing="0" cellpadding="0" >
    <tr>
        <td>付费vip</td>
        <td>36rmb/月</td>
        <td>88/季度</td>
        <td>166/半年</td>
        <td>svip/288年</td>
    </tr>
    <tr>
        <td>谁看过我</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>会员标识</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>10张形象照</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>动态头像</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>专属礼物</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>专属头像框</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>昵称变色</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>消息气泡</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>专属背景</td>
        <td></td>
        <td></td>
        <td></td>
        <td>√</td>
    </tr>
    <tr>
        <td>专属表情</td>
        <td></td>
        <td></td>
        <td>√</td>
        <td>√</td>
    </tr>
    <tr>
        <td>经验值升级加速</td>
        <td></td>
        <td></td>
        <td></td>
        <td>1.1倍加速</td>
    </tr>
</table>



</body>
</html>

